# Supabase Configuration
VITE_SUPABASE_URL=https://tskddvnkdyysdvjcmagd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRza2Rkdm5rZHl5c2R2amNtYWdkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MzA0MjcsImV4cCI6MjA4OTQwNjQyN30.M2Waf43OoHX1UT_TeuY2Msqyv1XQXjndxZIa1ayuT4I
